//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.03 (64-bit)
//Part Number: GW5AST-LV138PG484AC1/I0
//Device: GW5AST-138
//Device Version: B
//Created Time: Sat 03 15 13:54:16 2025

IO_LOC "da_data_out_1[13]" J14;
IO_PORT "da_data_out_1[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "da_data_out_1[12]" H14;
IO_PORT "da_data_out_1[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "da_data_out_1[11]" G15;
IO_PORT "da_data_out_1[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "da_data_out_1[10]" G16;
IO_PORT "da_data_out_1[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "da_data_out_1[9]" H13;
IO_PORT "da_data_out_1[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "da_data_out_1[8]" G13;
IO_PORT "da_data_out_1[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "da_data_out_1[7]" H15;
IO_PORT "da_data_out_1[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "da_data_out_1[6]" J15;
IO_PORT "da_data_out_1[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "da_data_out_1[5]" J17;
IO_PORT "da_data_out_1[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "da_data_out_1[4]" K17;
IO_PORT "da_data_out_1[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "da_data_out_1[3]" F13;
IO_PORT "da_data_out_1[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "da_data_out_1[2]" J16;
IO_PORT "da_data_out_1[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "da_data_out_1[1]" F15;
IO_PORT "da_data_out_1[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "da_data_out_1[0]" F14;
IO_PORT "da_data_out_1[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "clk_out_n_da_1" E13;
IO_PORT "clk_out_n_da_1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "clk_out_p_da_1" E14;
IO_PORT "clk_out_p_da_1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "clk_out_n_ad_2" L16;
IO_PORT "clk_out_n_ad_2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "clk_out_p_ad_2" M20;
IO_PORT "clk_out_p_ad_2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "clk_out_n_ad_1" K22;
IO_PORT "clk_out_n_ad_1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "clk_out_p_ad_1" K21;
IO_PORT "clk_out_p_ad_1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_2[11]" AB22;
IO_PORT "i12_ad_data_in_2[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_2[10]" AB21;
IO_PORT "i12_ad_data_in_2[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_2[9]" Y22;
IO_PORT "i12_ad_data_in_2[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_2[8]" Y21;
IO_PORT "i12_ad_data_in_2[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_2[7]" R18;
IO_PORT "i12_ad_data_in_2[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_2[6]" R17;
IO_PORT "i12_ad_data_in_2[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_2[5]" U22;
IO_PORT "i12_ad_data_in_2[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_2[4]" T18;
IO_PORT "i12_ad_data_in_2[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_2[3]" V19;
IO_PORT "i12_ad_data_in_2[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_2[2]" V18;
IO_PORT "i12_ad_data_in_2[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_2[1]" L14;
IO_PORT "i12_ad_data_in_2[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_2[0]" P16;
IO_PORT "i12_ad_data_in_2[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_1[11]" P20;
IO_PORT "i12_ad_data_in_1[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_1[10]" K16;
IO_PORT "i12_ad_data_in_1[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_1[9]" T21;
IO_PORT "i12_ad_data_in_1[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_1[8]" U21;
IO_PORT "i12_ad_data_in_1[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_1[7]" T20;
IO_PORT "i12_ad_data_in_1[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_1[6]" F18;
IO_PORT "i12_ad_data_in_1[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_1[5]" P19;
IO_PORT "i12_ad_data_in_1[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_1[4]" R19;
IO_PORT "i12_ad_data_in_1[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_1[3]" M22;
IO_PORT "i12_ad_data_in_1[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_1[2]" N22;
IO_PORT "i12_ad_data_in_1[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_1[1]" L21;
IO_PORT "i12_ad_data_in_1[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i12_ad_data_in_1[0]" M21;
IO_PORT "i12_ad_data_in_1[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk_in_ad_2[1]" N20;
IO_PORT "clk_in_ad_2[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk_in_ad_2[0]" L15;
IO_PORT "clk_in_ad_2[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk_in_ad_1[1]" L20;
IO_PORT "clk_in_ad_1[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk_in_ad_1[0]" L19;
IO_PORT "clk_in_ad_1[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rst_n" R14;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk" V22;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
